
algorithms/.ipynb_checkpoints/
forest_env/__pycache__/desktop.ini
forest_env/__pycache__/forest.cpython-38.pyc
forest_env/desktop.ini
forest_env/images/desktop.ini
models/desktop.ini
sample_renders/desktop.ini
desktop.ini
